/* Inserta tu código aqui */

img{
	position: absolute;
}


p{
	
	position: absolute;
	color: red;
}

.contenedor{
	display: inline-block;
	border: 1px solid black;
	padding: 5px;
	height: 600px;
	width: 980px;
	padding: 50px;
	position: absolute;
	font-size: 13px;
}
.caja{
	height: 100px;
	width: 100px;
	border: 2px;
	margin: 80px;
	display: inline-block;
}

