/* Inserta tu código aqui */

img{
	position: relative;
	opacity: 40px;
	top: 50px;
	right: 70px;
	
	color:black;
-webkit-filter: brightness(60%);
filter: brightness(60%);
}
.titulo
{
	color: black;
	text-align: left;
}
.p1, .p2, .p3, .p4, .p5, .p6{
	position: absolute;

	color:white;
}
hr
{
	text-align:left;
	width:5%;
	height:2px;
	background-color: black;
}
.contenedor
{

	display: inline-block;
	height: 700px;
	width: 980px;
	padding-left: 50px;
	position: relative;
	
	bottom: 100px;
	font-size: 13px;
}

.caja
{
	height: 100px;
	width: 100px;
	border: 1px;
	margin: 80px;
	display: inline-block;

}

	